@import "http://fonts.googleapis.com/css?family=Droid+Sans";
/* form{
background-color:#fff
} */
#maindiv{
width:100%;
margin:10px auto;
font-family:'Droid Sans',sans-serif
}
#formdiv{
width:100%;
float:left;

}
form{
padding:40px 20px;

border-radius:2px
}
h2{
margin-left:30px
}
.upload{
background-color:red;
border:1px solid red;
color:#fff;
border-radius:5px;
padding:10px;
text-shadow:1px 1px 0 green;
box-shadow:2px 2px 15px rgba(0,0,0,.75)
}
.upload:hover{
cursor:pointer;
background:#c20b0b;
border:1px solid #c20b0b;
box-shadow:0 0 5px rgba(0,0,0,.75)
}
#file{
color:green;
padding:5px;
border:1px dashed #123456;
background-color:#f9ffe5
}
#upload{
margin-left:45px
}
#noerror{
color:green;
text-align:left
}
#error{
color:red;
text-align:left
}
#img{
width:4rem;
border:none;
height:4rem;
margin-left:-25%;
margin-bottom:0px
}
.abcd{
text-align:center;
float: left;
}
.abcd img{
height:13rem;
width:13rem;
padding:5px;
border:1px solid #e8debd
}
b{
color:red
}
